@charset "UTF-8";

#container {
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 1em;
}

.red:hover {
    background-color: #c60404;
    color: #fff;
}

.green:hover {
    background-color: #025602;
    color: #fff;
}

#creditos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}